<div class="vg-solutions-grid">
  {% for solution in stable_solutions %}
  <article class="vg-solution-card">

    <div class="vg-solution-card__logo-wrap">
      <span class="vg-solution-card__logo vg-product-logo--{{ solution.identifier }}">{{ solution.logo-acronym }}</span>
      <span class="vg-solution-card__section-tag">{{ solution.logo-section }}</span>
    </div>

    <h3 class="vg-solution-card__name">{{ solution.short-name }}</h3>
    <p class="vg-solution-card__desc">{{ solution.description }}</p>

    <div class="vg-solution-card__footer">
      {%- if solution.service-url -%}
      <a href="{{ solution.service-url }}" target="_blank" rel="noopener" class="vg-learn-more">
        Learn More
        <svg class="vg-learn-more__arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7"/></svg>
      </a>
      {%- else -%}
      <a href="{{ solution.permalink }}" class="vg-learn-more">
        Learn More
        <svg class="vg-learn-more__arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7"/></svg>
      </a>
      {%- endif -%}
      {%- if solution.release -%}
      <span class="vg-solution-card__version">v{{ solution.release }}</span>
      {%- endif -%}
    </div>

  </article>
  {% endfor %}
</div>
